@page "/fetchemployee"
@using _7Side.IServices
@using ComponentModels
@inherits EmployeeDataModel

<h1>Game Data</h1>
<p>This component demonstrates CRUD operation on Game data</p>

<div>
    <div style="float:left">
        <button class="btn btn-primary" @onclick="AddGame">Add Game</button>
    </div>
    <div style="float:right; width:40%;">
        <div class="col-sm-6" style="float:left">
            <input class="form-control" type="text" placeholder="Search" @bind="@SearchString" />
        </div>
        <div>
            <button type="submit" class="btn btn-default btn-info" @onclick="FilterEmp">Filter</button>
        </div>
    </div>
</div>
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque est, vel lacinia ipsum efficitur sed. Morbi porttitor porta commodo.
    </div>
</div>
<p>
    <a class="btn btn-primary">
        Link with href
    </a>
    @*<button class="btn btn-primary" @onclick="CollapseTest">
        Button with data-target
    </button>*@
</p>
@if (gameList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <table class='table table-sm table-hover'>
        <thead>
            <tr>
                <th></th>
                <th>Selected?</th>
                <th>ID</th>
                @*<th>Title</th>*@
                <th>Description</th>
                <th>Private?</th>
                <th>Min number of players</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in gameList)
            {
                <tr data-toggle="collapse" data-target="#accordion" class="clickable" @onclick="() => { game.IsSelected = !game.IsSelected; }">
                    <td><input type="checkbox" @bind="@game.IsSelected" /></td>
                    <td>@game.IsSelected</td>
                    <td>@game.GameID</td>
                    @*<td>@game.Title</td>*@
                    <td>@game.Description</td>
                    <td>@game.IsPrivate</td>
                    <td>@game.MaxNumberOfPlayers</td>
                    <td>
                        <button class="btn btn-default" @onclick="@(async () => await EditEmployee(game.GameID))">Edit</button>
                        <button class="btn btn-danger" @onclick="@(async () => await DeleteConfirm(game.GameID))">Delete</button>
                    </td>
                </tr>

                @if (game.IsSelected)
                {
                    <tr>
                        <td colspan="7" style="background-color: white !important;">
                            <table class='table table-secondary table-sm table-bordered'>
                                <thead style="background-color: white !important;">
                                    <tr class="table-light" style="background-color: white !important;">
                                        <th>Players in Game</th>
                                        @*<th>Private?</th>
                                            <th>Min number of players</th>*@
                                    </tr>
                                </thead>
                                <tbody style="background-color: white !important;">
                                    <tr class="table-light" style="background-color: white !important;">
                                        <td>@game.GameID | @game.Title</td>
                                        @*<td>@game.IsPrivate</td>
                                            <td>@game.MaxNumberOfPlayers</td>*@
                                    </tr>
                                </tbody>
                            </table>

                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

    if (isAdd)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">@modalTitle</h3>
                        <button type="button" class="close" @onclick="closeModal">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="Name" class="control-label">Title</label>
                                <input for="Name" class="form-control" @bind="@game.Title" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label">Description</label>
                                <input for="Name" class="form-control" @bind="@game.Description" />
                            </div>
                            <div class="form-group">
                                <label asp-for="GameType" class="control-label">Game Tyoe?</label>
                                <input type="number" asp-for="GameType" class="form-control" @bind="@game.GameTypeID" />
                            </div>
                            <div class="form-group">
                                <label asp-for="IsPrivate" class="control-label">private?</label>
                                <input type="checkbox" asp-for="IsPrivate" class="form-control" @bind="@game.IsPrivate" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MinNumberOfPlayers" class="control-label">Min Players</label>
                                <input type="number" asp-for="MinNumberOfPlayers" class="form-control" @bind="@game.MinNumberOfPlayers" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MaxNumberOfPlayers" class="control-label">Max Players</label>
                                <input type="number" asp-for="MaxNumberOfPlayers" class="form-control" @bind="@game.MaxNumberOfPlayers" />
                            </div>
                            <div class="form-group">
                                <label asp-for="GameTime" class="control-label">Game Time</label>
                                <input type="datetime" asp-for="GameTime" class="form-control" @bind="@game.TimeOfGame" />
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label">Players</label>
                                <select asp-for="City" class="form-control">
                                    <option value="">-- Select --</option>
                                    @foreach (var player in playerList)
                                    {
                                        <option value="@player.PlayerID">@player.Name</option>
                                    }
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-block btn-info" @onclick="(async () => await SaveGame())" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    }

    if (isDelete)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Delete Game</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Do you want to delete this Game??</h4>
                        <table class="table">
                            <tr>
                                <td>Title</td>
                                <td>@game.Title</td>
                            </tr>
                            <tr>
                                <td>Info</td>
                                <td>@game.Description</td>
                            </tr>
                            <tr>
                                <td>Private?</td>
                                <td>@game.IsPrivate</td>
                            </tr>
                            <tr>
                                <td>Min number of Players</td>
                                <td>@game.MinNumberOfPlayers</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" @onclick="(async () => await DeleteEmployee(game.GameID))" data-dismiss="modal">YES</button>
                        <button class="btn btn-warning" @onclick="closeModal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    }
}