@page "/counter"
@using _7Side.Models
@using _7Side.SessionState
@using _7Side.IServices
@inject CounterState CounterState
@inject IGameService GameService

<h1>Counter</h1>

<p>Current count: @CounterState.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary">@CounterState.LoggedInUser</button>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <label>@errorMessage</label>
}
<div> </div>
@code {
    private int currentCount = 0;
    [Parameter]
    public int IncrementAmount { get; set; } = 1;
    private IEnumerable<Game> games;
    private string errorMessage;
    private void IncrementCount()
    {
        if(!string.IsNullOrEmpty(CounterState.LoggedInUser)) {

            errorMessage = "";
            // ** SESSION STATE
            int CurrentCount = CounterState.CurrentCount;
            CurrentCount++;
            // Set Current count on the Session State object
            CounterState.CurrentCount = CurrentCount;
        }
        else
        {
            errorMessage = "You need to be logged in to perform this action";
        }
    }
    protected void GetGames()
    {
        var result = GameService.GetAll();
        games = result;
    }
}
