@page "/fetchdata"
@using _7Side.IServices
@using _7Side.Models
@using System.Reflection;
@inject IWeatherForecastService forecastService
<div class="row">
    @if (forecastsPaged == null)
    {
        <!-- Show this if the current user has no data... yet... -->
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="col-12">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <select class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <option>
                        <a class="dropdown-item" href="#">Action</a>
                    </option>
                    <option>
                        <a class="dropdown-item" href="#">Another action</a>
                    </option>
                    <option>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </option>
                </select>
            </div>
            <h1>Weather forecast</h1>
            <h4>Hello, User!</h4>TestSelectMultiple
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <input type="checkbox" />Location On?
                <select class="btn btn-secondary dropdown-toggle" id="Pitch">
                    <option>
                        Pitch 1
                    </option>
                    <option>
                        Pitch 2
                    </option>
                </select>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="#">Item</a>
                        <a class="dropdown-item" href="#">Another item</a>
                        <a class="dropdown-item" href="#">One more item</a>
                    </div>
                </div>
                <button @onclick="TestSelectMultiple">Select Multiple</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Item</a>
                    <a class="dropdown-item" href="#">Another item</a>
                    <a class="dropdown-item" href="#">One more item</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated item</a>
                </div>
            </div>
                <button @onclick="TestLoad">Select Multiple</button>

        </div>
        <div class="col-12">
            <TableClientPager TItem="WeatherForecast" Items="@forecastsPaged.Results.ToList()" Context="forecast" Result=@forecastsPaged UpdatePage="UpdatePager">
                <TableHeader>
                    <th>Selected?</th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))">
                        <input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast
                        <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span>
                    </th>
                    <th>
                        <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" />
                        <div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div>
                    </th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>

                </RowTemplate>
            </TableClientPager>
            <TableTemplate Items="@forecastsPaged.Results.ToList()" Context="forecast" Result=@forecastsPaged UpdatePage="UpdatePager">
                <TableHeader>
                    <th>Selected?</th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                    <th>ID</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("Date"))"><input @onchange="@((changeEvent) => SearchRoww("Date", changeEvent))" type="text" class="col-md-12" />Date of Forecast <span id="DateSearchIndigo" style="color: @(GetSortStyle("Date"))">test</span></th>
                    <th> <input @onchange="@((changeEvent) => SearchRoww("Summary", changeEvent))" type="text" class="col-md-12" /><div style="cursor: pointer;" @onclick="@(() => ReOrderPage(" Summary"))">Summary</div></th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureF"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureF", changeEvent))" type="text" class="col-md-12" />Temp. (F)</th>
                    <th style="cursor: pointer;" @onclick="@(() => ReOrderPage("TemperatureC"))"><input @onchange="@((changeEvent) => SearchRoww("TemperatureC", changeEvent))" type="text" class="col-md-12" />Temp. (C)</th>
                    <th></th>
                </TableHeader>
                <RowTemplate>
                    <td><input type="checkbox" asp-for="IsPrivate" class="form-control" @bind="@forecast.IsSelected" /></td>
                    <td>@forecast.ID</td>
                    <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                    <td>-- <i>@forecast.Summary</i> --</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.TemperatureC</td>
                    <td>
                        <!-- Edit the current forecast -->
                        <button class="btn btn-primary"
                                @onclick="(() => EditForecast(forecast))">
                            Edit
                        </button>
                    </td>
                    <td>@forecast.ID</td>
                    <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                    <td>-- <i>@forecast.Summary</i> --</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.TemperatureC</td>
                    <td>
                        <!-- Edit the current forecast -->
                        <button class="btn btn-primary"
                                @onclick="(() => EditForecast(forecast))">
                            Edit
                        </button>
                    </td>
                    <td>@forecast.ID</td>
                    <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                    <td>-- <i>@forecast.Summary</i> --</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.TemperatureC</td>
                    <td>
                        <!-- Edit the current forecast -->
                        <button class="btn btn-primary"
                                @onclick="(() => EditForecast(forecast))">
                            Edit
                        </button>
                    </td>
                    <td>@forecast.ID</td>
                    <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                    <td>-- <i>@forecast.Summary</i> --</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.TemperatureC</td>
                    <td>
                        <!-- Edit the current forecast -->
                        <button class="btn btn-primary"
                                @onclick="(() => EditForecast(forecast))">
                            Edit
                        </button>
                    </td>
                    <td>@forecast.ID</td>
                    <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                    <td>-- <i>@forecast.Summary</i> --</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.TemperatureC</td>
                    <td>
                        <!-- Edit the current forecast -->
                        <button class="btn btn-primary"
                                @onclick="(() => EditForecast(forecast))">
                            Edit
                        </button>
                    </td>
                    <td>@forecast.ID</td>
                    <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                    <td>-- <i>@forecast.Summary</i> --</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.TemperatureC</td>
                    <td>
                        <!-- Edit the current forecast -->
                        <button class="btn btn-primary"
                                @onclick="(() => EditForecast(forecast))">
                            Edit
                        </button>
                    </td>
                </RowTemplate>
            </TableTemplate>
            <button class="btn btn-primary" @onclick="AddNewForecast"> Add New Forecast </button>

            <IndigoModal Show="ShowTestMultipleModal" IsLarge="false" CloseMethod="CloseTestModal" Forecasts="selectedWeatherForecasts" />
            <AddEditWeatherForecast Show="ShowEditRecordPopup" ClosePopup="ClosePopup" objWeatherForecast="objWeatherForecast" Result=@forecastsPaged />
        </div>
    }
</div>

<Modal Show="isLoading" IsLarge="false" CloseMethod="CloseLoadingModal">
    <HeaderContent>
        <h3 class="modal-title">Loading</h3>
    </HeaderContent>
    <BodyContent>
        Pleae Wait ...
    </BodyContent>
    <FooterContent>
    </FooterContent>
</Modal>
@code {
    WeatherForecast objWeatherForecast = new WeatherForecast();
    List<WeatherForecast> selectedWeatherForecasts = new List<WeatherForecast>();
    protected PagedResultViewModel<WeatherForecast> forecastsPaged = new PagedResultViewModel<WeatherForecast>();
    int currentCount = 0;
    protected bool isLoading;
    bool ShowNewRecordPopup = false;
    bool ShowEditRecordPopup = false;
    bool ShowTestMultipleModal = false;
    string searchText = "";
    string drpdw = "";
    Dictionary<string, string> SearchFilters = new Dictionary<string, string>();
    protected override async Task OnInitializedAsync()
    {
        ShowTestMultipleModal = false;
        // Get the forecasts for the current user
        forecastsPaged = forecastService.GetForecastsPaged(forecastsPaged);
        var props = typeof(WeatherForecast).GetProperties();
        foreach (PropertyInfo prop in props)
        {
            SearchFilters.Add(prop.Name, "");
        }
    }

    protected void SearchRow(ChangeEventArgs changeVal)
    {
        SearchFilters.Add("", changeVal.Value.ToString());
        //forecastsPaged = forecastService.GetForecastsPaged(newPage);
    }
    protected void SearchRoww(string col, ChangeEventArgs changeVal)
    {
        forecastsPaged.SearchFilters[col] = changeVal.Value.ToString();
        //forecastsPaged = forecastService.GetForecastsPaged(newPage);
    }
    protected void UpdatePager(PagedResultBase newPage)
    {
        forecastsPaged = forecastService.GetForecastsPaged(newPage);
    }

    protected void ReOrderPage(string orderBy)
    {
        if (forecastsPaged.OrderBy == orderBy)
            forecastsPaged.OrderAsc = !forecastsPaged.OrderAsc;
        else
            forecastsPaged.OrderBy = orderBy;

        forecastsPaged = forecastService.GetForecastsPaged(forecastsPaged);
    }
    protected string GetSortStyle(string columnName)
    {
        if (forecastsPaged.OrderBy != columnName)
        {
            return string.Empty;
        }
        if (forecastsPaged.OrderAsc)
        {
            return "red";
        }
        else
        {
            return "blue";
        }
    }

    protected async Task TestSelectMultiple()
    {
        selectedWeatherForecasts = forecastsPaged.Results.Where(x => x.IsSelected).ToList();
        ShowTestMultipleModal = true;
    }
    
    protected async Task TestLoad()
    {
        isLoading = true;
        await Task.Delay(1); 
        Task.Delay(2000).Wait();
        isLoading = false;
    }
    protected void ClosePopup()
    {
        // Close the Popups
        ShowNewRecordPopup = false;
        ShowEditRecordPopup = false;
    }
    private void AddNewForecast()
    {
        // Make new forecast
        objWeatherForecast = new WeatherForecast();
        // Set Id to 0 so we know it is a new record
        objWeatherForecast.ID = 0;
        // Open the Popup
        ShowEditRecordPopup = true;
    }
    private void EditForecast(WeatherForecast weatherForecast)
    {
        // Set the selected forecast as the current forecast
        objWeatherForecast = weatherForecast;
        // Open the Popup
        ShowEditRecordPopup = true;
    }
    public void CloseTestModal()
    {
        ShowTestMultipleModal = false;
    }
    public void CloseLoadingModal()
    {
        ShowTestMultipleModal = false;
    }
}