@using _7Side.Models;
@typeparam TItem

<div class="row">
    <div class="col-sm-6" style="float:left">
        <input class="form-control" type="text" placeholder="Search" @bind="@searchText" />
    </div>
    <div>
        <button type="submit" class="btn btn-default btn-info" @onclick="(() => SearchPaged(searchText))">Filter</button>
    </div>
</div>
<div class="row">
    <table class="table table-sm table-hover">
        <thead>
            <tr>@TableHeader</tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr data-toggle="collapse" data-target="#accordion" class="clickable">@RowTemplate(item)</tr>
                <tr id="accordion" class="collapse">
                    <td colspan="3">
                        <div>Hidden by default</div>
                    </td>
                </tr>
            }

        </tbody>
        <tfoot>
            <tr>@TableFooter</tr>
        </tfoot>
    </table>
</div>

<NewPager Result=@Result UpdatePage="@UpdatePage" />
@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }
    [Parameter]
    public RenderFragment<TItem> RowTemplate { get; set; }
    [Parameter]
    public RenderFragment TableFooter { get; set; }
    [Parameter]
    public EventCallback<PagedResultBase> UpdatePage { get; set; }
    [Parameter]
    public IReadOnlyList<TItem> Items { get; set; }
    [Parameter]
    public PagedResultBase Result { get; set; }

    protected string searchText;
    protected void SearchPaged(string searchText)
    {
        Result.SearchValue = searchText;
        Result.CurrentPage = 1;
        var res = Task.FromResult(UpdatePage.InvokeAsync(Result));
    }
}
