﻿@using _7Side.Models
@using _7Side.IServices
@inject IWeatherForecastService forecastService
<Modal Show="Show" IsLarge="true" CloseMethod="ClosePopup">
    <HeaderContent>
        @if (objWeatherForecast.ID > 0)
        {
            <h3 class="modal-title"
                style="color:darkgreen">
                Edit Forecast
            </h3>
        }
        else
        {
            <h3 class="modal-title"
                style="color:darkred">
                Create Forecast
            </h3>
        }
    </HeaderContent>
    <BodyContent>
        <!-- Edit form for the current forecast -->
        <EditForm Context="formContext"
                  Model="objWeatherForecast"
                  OnValidSubmit="@SaveForecast">
            <!-- This will validate the form -->
            <DataAnnotationsValidator />
            <ul class="validation-errors">
                @foreach ( var message in formContext.GetValidationMessages().Where(x => !x.Contains("Summary")))
                {
                    <li class="validation-message">@message</li>
                }
            </ul>
            <div class="modal-body">
                <p>
                    <label for="Date">Date: </label>
                    <InputDate id="Date" class="form-control"
                               placeholder="Date"
                               @bind-Value="objWeatherForecast.Date" />
                </p><p>
                    <label for="TemperatureC">Celsius: </label>
                    <InputNumber id="TemperatureC" class="form-control"
                                 placeholder="Celsius forecast"
                                 @bind-Value="objWeatherForecast.TemperatureC" />
                </p><p>
                    <label for="TemperatureF">Fahrenheit: </label>
                    <InputNumber id="TemperatureF" class="form-control"
                                 placeholder="Fahrenheit forecast"
                                 @bind-Value="objWeatherForecast.TemperatureF" />
                </p><p>
                    <label for="Summary">Summary: </label>
                    <InputSelect id="Summary" class="form-control"
                                 @bind-Value="objWeatherForecast.Summary">

                        <option>
                            Please Select...
                        </option>
                        @foreach (var option in SummaryOptions)
                        {
                            <option value="@option.OptionValue">
                                @option.OptionName
                            </option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => objWeatherForecast.Summary)" />
                </p>
                <br />
                <!-- Button to save the forecast -->
                <button class="btn btn-primary"
                        type="submit">
                    Save
                </button>
                <!-- Only show delete button if not a new record -->
                @if (objWeatherForecast.ID > 0)
                {
                    <!-- Button to delete the forecast -->
                    <button class="btn btn-primary"
                            @onclick="@DeleteForecast">
                        Delete
                    </button>
                }
            </div>
        </EditForm>
    </BodyContent>
    <FooterContent>
        <button class="btn btn-block btn-info" data-dismiss="modal">Close</button>
    </FooterContent>
</Modal>
@code {
    [Parameter] 
    public bool Show { get; set; }
    [Parameter] 
    public WeatherForecast objWeatherForecast { get; set; }
    [Parameter] 
    public EventCallback ClosePopup { get; set; }
    [Parameter]
    public PagedResultBase Result { get; set; }

    List<WeatherForecastOptions> SummaryOptions = new List<WeatherForecastOptions>() {
    new WeatherForecastOptions() { OptionName = "Select...", OptionValue = " " },
        new WeatherForecastOptions() { OptionName = "Hot", OptionValue = "Hot" },
        new WeatherForecastOptions() { OptionName = "Mild", OptionValue = "Mild" },
        new WeatherForecastOptions() { OptionName = "Cold", OptionValue = "Cold" }};


    protected void SaveForecast()
    {
        ClosePopup.InvokeAsync(EventArgs.Empty);
        // A new forecast will have the Id set to 0
        if (objWeatherForecast.ID == 0)
        {
            // Create new forecast
            WeatherForecast newObjWeatherForecast = new WeatherForecast();
            newObjWeatherForecast.Date = System.DateTime.Now;
            newObjWeatherForecast.Summary = objWeatherForecast.Summary;
            newObjWeatherForecast.TemperatureC = Convert.ToInt32(objWeatherForecast.TemperatureC);
            newObjWeatherForecast.TemperatureF = Convert.ToInt32(objWeatherForecast.TemperatureF);
            newObjWeatherForecast.Username = "testUser";
            // Save the result
            var result = forecastService.CreateForecastAsync(newObjWeatherForecast);
        }
        else
        {
            // This is an update
            var result = forecastService.UpdateForecastAsync(objWeatherForecast);
        }
        // update forecasts for the user
        Result = this.GetForecastsPaginated(new PagedResultViewModel<WeatherForecast>());
    }
    async Task DeleteForecast()
    {
        ClosePopup.InvokeAsync(EventArgs.Empty);
        var result = forecastService.DeleteForecastAsync(objWeatherForecast);

        Result = this.GetForecastsPaginated(new PagedResultViewModel<WeatherForecast>());
    }
    protected PagedResultViewModel<WeatherForecast> GetForecastsPaginated(PagedResultBase req)
    {
        //UriHelper.NavigateTo("/page/" + page);
        return forecastService.GetForecastsPaged(req);
    }
    private void setDefaultValues()
    {
        objWeatherForecast.Summary = SummaryOptions.First().OptionName;
    }

}
