﻿@using _7Side.Models;
@using System.Reflection;
@*To define a generic component*@
@*we use the @typeparam directive to specify *@
@*type parameters*@
@typeparam TItem
@*Create a table*@

<div style="float:right; width:40%;">
    <div class="col-sm-6" style="float:left">
        <input class="form-control" type="text" placeholder="Search" @bind="@searchText" />
    </div>
    <div>
        <button type="submit" class="btn btn-default btn-info" @onclick="(() => SearchPaged(searchText))">Filter</button>
    </div>
</div>
<table class="table">
    <thead>
        @*TableHeader will be inserted here*@
        <tr>@TableHeader</tr>
        @{
            PropertyInfo[] properties = typeof(TItem).GetProperties();
            foreach (PropertyInfo property in properties)
            {
            <th>@property.Name</th>
        }
        @TableHeader
        }
        </thead>
        <tbody>
            @*Items will be iterated at this point*@
            @*Creating a row for each item*@
            @{
                @foreach (var item in Items)
                {
                    <tr>
                        @foreach (PropertyInfo property in properties)
                        {
                            <td>@item.GetType().GetProperty(property.Name).GetValue(item, null)</td>
                        }
                    </tr>
                    @RowTemplate
                }

            }

        </tbody>
        <tfoot>
            @*TableFooter will be inserted here*@
            <tr>@TableFooter</tr>
        </tfoot>
    </table>

    <NewPager Result=@Result UpdatePage="@UpdatePage" />
    @code {
        [Parameter]
        public RenderFragment TableHeader { get; set; }
        [Parameter]
        public RenderFragment<TItem> RowTemplate { get; set; }
        [Parameter]
        public RenderFragment TableFooter { get; set; }
        [Parameter]
        public EventCallback<PagedResultBase> UpdatePage { get; set; }
        // A collection of any type can be passed for Items
        [Parameter]
        public IReadOnlyList<TItem> Items { get; set; }
        [Parameter]
        public PagedResultBase Result { get; set; }

        protected string searchText;
        protected void SearchPaged(string searchText)
        {
            Result.SearchValue = searchText;
            Result.CurrentPage = 1;
            var res = Task.FromResult(UpdatePage.InvokeAsync(Result));
        }
    }