@using _7Side.Models

<Modal Show="Show" IsLarge="IsLarge" CloseMethod="CloseMethod">
    <HeaderContent>
        <h3 class="modal-title">Here are the items you selected:</h3>
    </HeaderContent>
    <BodyContent>
        @foreach (var forecast in Forecasts)
        {
            <table>
                <tbody>
                    <tr>
                        <td>@forecast.ID</td>
                        <td><b>@forecast.Date.Value.ToLongDateString()</b></td>
                        <td>-- <i>@forecast.Summary</i> --</td>
                        <td>@forecast.TemperatureF</td>
                        <td>@forecast.TemperatureC</td>
                    </tr>
                </tbody>
            </table>
        }
    </BodyContent>
    <FooterContent>
        <button class="btn btn-block btn-info" data-dismiss="modal">Close</button>
    </FooterContent>
</Modal>
@code {
    [Parameter]
    public bool IsLarge { get; set; }
    [Parameter]
    public bool Show { get; set; }
    [Parameter]
    public EventCallback CloseMethod { get; set; }
    [Parameter]
    public List<WeatherForecast> Forecasts { get; set; }
}
