@using _7Side.SessionState
@inject CounterState CounterState
@page "/loginControl"

@if (!string.IsNullOrEmpty(CounterState.LoggedInUser))
{
    <b>Hello, @CounterState.LoggedInUser!</b>
    <button class="ml-md-auto btn btn-primary"
            @onclick="LogUserOut"
            target="_top">Logout
    </button>

}
else
{
    <input type="text"
           placeholder="User Name"
           @bind-value="@Username"
           @bind-value:event="oninput"/>
    <input type="password"
           placeholder="Password"
           @bind="@Password" />
    <button class="ml-md-auto btn btn-primary"
            @onclick="(() => LogUserIn(Username))"
            target="_top"
            disabled="@string.IsNullOrEmpty(@Username)">
        Login
    </button>

}
@code {
    string Username = "";
    string Password = "";
    
    private void LogUserIn(string username)
    {
        CounterState.LoggedInUser = username;

    }
    private void LogUserOut()
    {
        CounterState.LoggedInUser = null;
    }
}