﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginControl />
    </div>

    <div class="content px-4 container-fluid">
        @Body
    </div>
</div>
