@if (Show)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="@modalSizeClass">
            <div class="modal-content">
                <div class="modal-header">
                    @HeaderContent
                    <button type="button" class="close" @onclick="CloseModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    @BodyContent
                </div>
                <div class="modal-footer">
                    @FooterContent
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public RenderFragment HeaderContent { get; set; }
    [Parameter]
    public bool IsLarge { get; set; }
    [Parameter]
    public RenderFragment BodyContent { get; set; }
    [Parameter]
    public RenderFragment FooterContent { get; set; }
    [Parameter]
    public bool Show { get; set; }
    [Parameter]
    public EventCallback CloseMethod { get; set; }

    private string modalSizeClass = "modal-dialog";

    protected override void OnParametersSet()
    {
        modalSizeClass = IsLarge ? "modal-dialog modal-lg" : "modal-dialog";

        base.OnParametersSet();
    }
    protected void CloseModal()
    {
        Show = false;
        CloseMethod.InvokeAsync(EventCallback.Empty);
    }

    protected override async Task OnInitializedAsync()
    {
    }
}
