@using _7Side.Models;
@if (Result != null)
{
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @if (Result.PageCount > 0)
            {
            <ul class="pagination pull-right">
                @if (Result.PageCount > 1)
                {
                    <li><button @onclick="(() => PageChanged(1))" class="btn">&laquo;</button></li>
                }
                else
                {
                    <li><span class="btn">&laquo;</span></li>
                }
                @for (var i = StartIndex; i <= FinishIndex; i++)
                {
                    var currentIndex = i;
                    @if (i == Result.CurrentPage)
                    {
                        <li><span class="btn"><b>@i</b></span></li>
                    }
                    else
                    {
                        <li><button @onclick="(() => PageChanged(currentIndex))" class="btn">@i</button></li>
                    }
                }
                @if (Result.PageCount > 1)
                {
                    <li><button @onclick="(() => PageChanged(Result.PageCount))" class="btn">&raquo;</button></li>
                }
                else
                {
                    <li><span class="btn">&raquo;</span></li>
                }
            </ul>
                <div>
                    <select @onchange="ChangePageSize">
                        @for (int i = 25; i < Result.RowCount + 25; i = i + 25)
                        {
                            <option value="@i">Show @i</option>
                        }
                    </select>
                </div>
            }
        </div>
    </div>
}
@code{
    [Parameter]
    public PagedResultBase Result { get; set; }

    [Parameter]
    public EventCallback<PagedResultBase> UpdatePage { get; set; }

    protected int StartIndex { get; private set; } = 0;
    protected int FinishIndex { get; private set; } = 0;

    protected void PageChanged(int pageNum)
    {
        Result.CurrentPage = pageNum;
        this.PagerButtonClicked(Result);
    }

    protected void ChangePageSize(ChangeEventArgs pageSize)
    {
        bool parseSuccess = int.TryParse(pageSize.Value.ToString(), out int result);
        if (parseSuccess == true) Result.PageSize = result; else Result.PageSize = 25;
        Result.CurrentPage = 1;
        this.PagerButtonClicked(Result);
    }

    protected override void OnParametersSet()
    {
        StartIndex = Math.Max(Result.CurrentPage - 5, 1);
        FinishIndex = Math.Min(Result.CurrentPage + 5, Result.PageCount);

        base.OnParametersSet();
    }
    protected void PagerButtonClicked(PagedResultBase page)
    {
        var res = Task.FromResult(UpdatePage.InvokeAsync(page));
    }
}