@inherits PagerModel

@if (Result != null)
{
    <div class="row">
        <div class="col-md-8 col-sm-8">
            @if (Result.PageCount > 1)
            {
                <ul class="pagination pull-right">
                    <li><button @onclick="(() => PageChangedCB.InvokeAsync(1))" class="btn">&laquo;</button></li>
                    @for (var i = StartIndex; i <= FinishIndex; i++)
            {
                var currentIndex = i;
                        @if (i == Result.CurrentPage)
            {
                            <li><span class="btn"><b>@i</b></span></li>
            }
            else
            {
                            <li><button @onclick="(() => PageChangedCB.InvokeAsync(currentIndex))" class="btn">@i</button></li>
            }
            }
                    <li><button @onclick="(() => PageChangedCB.InvokeAsync(Result.PageCount))" class="btn">&raquo;</button></li>
                </ul>
            }
        </div>  
        <div>
            <select @onchange="@ChangePageSize">
                @for (int i = 25; i < Result.RowCount + 25; i = i + 25)
                {
                    <option value="@i">Show @i</option>
                }
            </select>
        </div>
    </div>
}