﻿@using _7Side.Models;
@typeparam TItem

<div class="row">
    <div class="col-sm-6" style="float:left">
        <input class="form-control" type="text" placeholder="Search" @bind="@searchText" />
    </div>
    <div>
        <button type="submit" class="btn btn-default btn-info" @onclick="(() => SearchPaged(searchText))">Filter</button>
    </div>
</div>
<div class="row">
    <table class="table table-sm table-hover">
        <thead>
            @*<tr>@TableHeader</tr>*@
            <tr>
                <th></th>
                @foreach (var col in Columns)
                {
                    <th style="cursor: pointer;">
                        <select @onchange="@((changeEvent) => Updatefilter(col.Name, changeEvent))" class="btn btn-secondary dropdown-toggle" id="@( col.Name + "Select")}">
                            <option></option>
                            @foreach (var filter in col.DropDownFilters)
                            {
                                <option value="@filter">
                                    @filter
                                </option>
                            }
                        </select>
                        <div class="col-md-12">@col.Name</div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in FilteredItems)
            {
                @*<tr data-toggle="collapse" data-target="#accordion" class="clickable">@RowTemplate(item)</tr>
                <tr id="accordion" class="collapse">
                    <td colspan="3">
                        <div>Hidden by default</div>
                    </td>
                </tr>*@

            <tr>
                <input type="checkbox" asp-for="IsPrivate" class="form-control" @bind="@item.IsSelected" />
                @foreach (var colName in Columns)
                {
                    <td>
                        @item.GetType().GetProperty(colName.Name).GetValue(item);
                    </td>
                }
            </tr>

            }

        </tbody>

        <tfoot>
            <tr>@TableFooter</tr>
        </tfoot>
    </table>
</div>

<NewPager Result=@Result UpdatePage="@UpdatePage" />
@code {
    [Parameter]
    public RenderFragment TableHeader { get; set; }
    [Parameter]
    public RenderFragment<TableItem> RowTemplate { get; set; }
    [Parameter]
    public RenderFragment TableFooter { get; set; }
    [Parameter]
    public EventCallback<PagedResultBase> UpdatePage { get; set; }
    [Parameter]
    public PagedResultBase Result { get; set; }
    [Parameter]
    public IReadOnlyList<TableItem> Items { get; set; }
    protected IEnumerable<TableItem> FilteredItems { get; set; }
    protected List<ColumnViewModel> Columns;

    protected string searchText;
    protected void SearchPaged(string searchText)
    {
        Result.SearchValue = searchText;
        Result.CurrentPage = 1;
        var res = Task.FromResult(UpdatePage.InvokeAsync(Result));
    }

    protected void Updatefilter(string col, ChangeEventArgs changeVal)
    {
        if (!string.IsNullOrWhiteSpace(changeVal.Value.ToString()))
        {
            Result.SearchFilters[col] = changeVal.Value.ToString();
        }
        else
        {
            Result.SearchFilters.Remove(col);

        }
        Setfilter();
        //forecastsPaged = forecastService.GetForecastsPaged(newPage);
    }
    protected void Setfilter()
    {
        if(Result.SearchFilters.Count> 0)
        {
            FilteredItems = Items;
            foreach(var c in Result.SearchFilters)
            {
                FilteredItems = WhereQuery(FilteredItems, c.Key, c.Value);
            }
        }
        else
        {
            FilteredItems = Items;
        }

        //UpdateFilterDropDowns();
        //forecastsPaged = forecastService.GetForecastsPaged(newPage);
    }
    public static IEnumerable<TableItem> WhereQuery(IEnumerable<TableItem> source, string columnName, string propertyValue)
    {
        return source.Where(m => { return m.GetType().GetProperty(columnName).GetValue(m, null).ToString().Equals(propertyValue); });
    }
    //protected override void OnParametersSet()
    //{
    //    StartIndex = Math.Max(Result.CurrentPage - 5, 1);
    //    FinishIndex = Math.Min(Result.CurrentPage + 5, Result.PageCount);

    //    base.OnParametersSet();
    //}

    protected override async Task OnInitializedAsync()
    {
        FilteredItems = Items;
        UpdateFilterDropDowns();
    }
    private void UpdateFilterDropDowns()
    {
        List<ColumnViewModel> colList = new List<ColumnViewModel>();
        var col = typeof(TItem);
        var cols = col.GetProperties();
        foreach(var prop in cols)
        {
            ColumnViewModel newCol = new ColumnViewModel() { Name = prop.Name };

            if (Result.SearchFilters.ContainsKey(prop.Name))
            {
                foreach(var item in Items)
                {
                    var colValue = item.GetType().GetProperty(prop.Name).GetValue(item).ToString();
                    if (!newCol.DropDownFilters.Contains(colValue))
                    {
                        newCol.DropDownFilters.Add(colValue);
                    }
                }

            }
            else
            {
                foreach(var item in FilteredItems)
                {
                    var colValue = item.GetType().GetProperty(prop.Name).GetValue(item).ToString();
                    if (!newCol.DropDownFilters.Contains(colValue))
                    {
                        newCol.DropDownFilters.Add(colValue);
                    }
                }

            }
            colList.Add(newCol);
        }
        Columns = colList;
    }

}
